$color-bg-main: #F5F1EB;
$color-bg-card: #FFFFFF;
$color-bg-decor: #30D5C8;
$color-hover: #128C3F;
$color-input: #F2F4F8;
$color-text: #090909;

%inter-400 {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
}

%roboto-600 {
  font-family: 'Roboto-SemiBold', sans-serif;
  font-weight: 600;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-300 {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}
