
  <footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <nav class="footer__menu ">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">
                Про мене
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Послуги
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                FAQ
              </a>
            </li>
          </ul>
        </nav>
        <a class="footer__logo" href="/">
          <svg class="footer__logo-svg" width="234" height="88">
            <use xlink:href="images/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="footer__contacts">
          <a class="footer__mail" href="mailto:budylevska.accounting@gmail.com">
            <svg class="footer__mail-icon" width="22" height="22">
              <use xlink:href="images/sprite.svg#mail"></use>
            </svg>
            budylevska.accounting@gmail.com
          </a>
          <div class="footer__socials">
            <p class="footer__socials-title">
              Соціальні мережі
            </p>
            <div class="footer__socials-links">
              <a class="footer__socials-link" href="#">
                <svg class="footer__socials-icon" width="24" height="24">
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
              </a>
              <a class="footer__socials-link" href="#">
                <svg class="footer__socials-icon" width="28" height="28">
                  <use xlink:href="images/sprite.svg#viber"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<script src="js/main.min.js"></script>
</body>

</html>