<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>accountant</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <div class="wrapper">
    <header>
      <div class="container">
        <div class="header__inner">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#">Про мене</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Послуги</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">FAQ</a>
              </li>
            </ul>
          </nav>
          <a class="header__logo" href="/">
            <svg class="header__logo-svg" width="234" height="88">
              <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
          </a>
          <!-- BURGER -->
          <button class="burger" type="button">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="header__elements">
            <ul class="header__lang">
              <li class="header__lang-item">
                <a class="header__lang-link header__lang--active" href="#">UA</a>/
              </li>
              <li class="header__lang-item">
                <a class="header__lang-link" href="#">RU</a>
              </li>
            </ul>
            <div class="header__work-info">
              <div class="header__work-info__schedule">
                <p class="header__work-info__title">Графік роботи:</p>
                <p class="header__work-info__time">Пн-Пт з 9:00 до 18:00</p>
              </div>

              <div class="header__work-info-line"></div>

              <a class="header__work-info-phone" href="tel:+380956298970">
                <svg class="header__icon-phone" width="19" height="19">
                  <use xlink:href="images/sprite.svg#phone"></use>
                </svg>
                +38(095)-629-89-70
              </a>
            </div>
          </div>
        </div>
    </header>